nav a{
    text-align: center;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
    cursor: pointer;
}